<div id="announcements">
	<span>Create Announcement</span>
	<div id="announcementInterior">
		<div id="announcementErrors"></div>
		<%= render 'announcements/form' %>
	</div>
</div>

<div id="editAnnouncementList">
	<%= render 'index' %>
</div>
	