<h4 id="current">Current: </h4>
<%= render :partial => "assignments/show", :locals => { :assignment => user.current_assignment } %>

<% if user.on_hold.count > 0 %>
	<h4>On Hold: </h4>
	<% user.on_hold.each do |assignment| %>
		<%= render :partial => "assignments/show", :locals => { :assignment => assignment } %>
	<% end %>
<% end %>

<% if !user.queued.blank? %>
	<h4>Queue:</h4>
	<% user.queued.each do |assignment| %>
		<%= render :partial => "assignments/show", :locals => { :assignment => assignment } %>
	<% end %>
<% end %>	
