<% user.incomplete_assignments.each_with_index do |assignment, index| %>
	<% if index == 0 %>
		<h4>Current: </h4>
	<% elsif index == 1 %>
		<h4>Queue: </h4>	
	<% end %>
	<%= render :partial => "assignments/show", :locals => { :assignment => assignment } %>
<% end %>

<% if user.on_hold.count > 0 %>
	<h4>On Hold: </h4>
	<% user.on_hold.each do |assignment| %>
		<%= render :partial => "assignments/show", :locals => { :assignment => assignment } %>
	<% end %>
<% end %>