<span class="assignmentStatus"><em><%= assignment.status %></em></span>
<span class="assignmentQueue"><%= "Priority: #{assignment.queue_index}" %></span>
<%= link_to "x", assignment_path(assignment), :method => :delete, :confirm => "Are you sure you want to delete this assignment?", :remote => true, :class => 'right' %>
<%= link_to "edit", edit_assignment_path(assignment), :class => 'right' %>