<div class="assignmentShow">
	<p><%= "Status: (Not yet started, in progress/started at x, on hold)"%></p>
	<p><%= "Deadline: #{assignment.deadline || 'None set'}" %></p>
	<p><%= "Scheduled duration: #{ assignment.duration || 'Not set'}" %></p>
</div>