<div class="assignmentShow">
	<p><%= "Status: #{assignment.status}"%></p>
	<p><%= "Deadline: #{assignment.deadline || 'None set'}" %></p>
	<p><%= "Scheduled duration: #{ assignment.duration || 'Not set'}" %></p>
</div>