<% if assignment.status == "not yet begun" %>
	<li>
		<%= button_to "Begin", assignment_path(assignment, :assignment => {:started_at => true, :resumed_at => true}), :method => 'put', :remote => true %>
	</li>
<% elsif assignment.status == "in progress" %>
	<li>
		<%= button_to "Pause", assignment_path(assignment, :assignment => { :hold => true}), :method => 'put', :remote => true%>

		<%= button_to "Finish", assignment_path(assignment, :assignment => { :completed_at => true }), :method => 'put', :remote => true %>
	</li>
<% end %>