<% if user.assigned? %>
	<%= render "assignments/index", :user => user %>
<% else %>
	<p>You currently have no assignments</p>
	<!-- <#%= link_to "Get new assignment (not active yet)", "#", :remote => true %>	 -->
<% end %>

