<div class="resourceColumn" id="taskGroup">
	<% @grouped_tasks.reverse_each do |group| %>
	<ul>
		<h3><%= TaskGroup.name_from_grouped_tasks(group) %></h3>
		<% group.last.each do |task| %>
			<li>
				<%= task.name %>
				<%= render "shared/resource_links", :resource => task %>
			</li>
		<% end %>
	</ul>
		
		
	<% end %>
</div>	