<div class="resourceColumn">
	<% if @tasks.any? %>
		<% @tasks.each do |task| %>
		<ul>
			<li>
				<%= task.name %> |
				<%= link_to "edit", edit_task_path(task) %> |	
				<%= link_to "delete", task_path(task), :method => :delete, :confirm => "Are you sure you want to delete this task?" %>
			</li>
		</ul>
		<% end %>
	<% else %>
		<p><%= "No tasks yet." %></p>
	<% end %>
</div>
	