<div class="resourceColumn" id="taskGroup">
	<% @grouped_tasks.each do |group| %>
	<ul>
		<h3><%= TaskGroup.find(group.first).first.name if TaskGroup.find(group.first).first %></h3>
		<% group.last.each do |task| %>
			<li>
				<%= task.name %> |
				<%= link_to "edit", edit_task_path(task) %> |	
				<%= link_to "delete", task_path(task), :method => :delete, :confirm => "Are you sure you want to delete this task?" %>			
			</li>
		<% end %>
	</ul>
		
		
	<% end %>
</div>	