<% if task.assignments_for_city(city).count > 0 %>
	<ul>
		<% task.assignments_for_city(city).each do |assignment| %>
			<% puts assignment.id %>
			<li>
				<%= link_to assignment.user.name, user_path(assignment.user) %>
				<%= ": #{assignment.status}" %>
			</li>
		<% end %>
	</ul>
<% else %>
	<p>No assignments for this task.</p>	
<% end %>