<div class="resourceColumn">
	<% if @task_groups.any? %>
		<ul>
			<% @task_groups.each do |task_group| %>
			<li>
				<%= task_group.name %>
				<%= render "shared/resource_links", :resource => task_group %>

			</li>
			<% end %>
		</ul>
	<% else %>
		<p><%= "No task groups yet." %></p>
	<% end %>
</div>