<div id="userDisplay">
	<div class="userHeadline">
		<span class="pullLeft assignmentManager">
			<%= link_to "Reorder Queue", edit_user_path(user), :remote => true if user.assigned? %>

		</span>
		<span class="userLink"><%= link_to user.name %></span>
		<span><%= "<#{user.email}>" %></span>
	</div>

	<% if user.assigned? %>


		<div class="queuedAssignments">
			<%= render :partial => "assignments/index", :locals => { :user => user } %>
		</div>

	<% else %>
		<p>This user currently has no assignments.</p>	
	<% end %>

</div>