<div id="userDisplay">
	<div class="userHeadline">
		<span><h2 class="inline"><%= user.name %></h2></span>
		<span><%= "<#{user.email}>" %></span>
		<span><%= link_to "View User", user_path(user) %></span>
	</div>

	<% if user.assigned? %>


		<div class="queuedAssignments">
			<%= render :partial => "assignments/index", :locals => { :user => user } %>
		</div>

	<% else %>
		<p>This user currently has no assignments.</p>	
	<% end %>

</div>