<div id="userPage">
	<div id="userTaskBar">
		<h2><%= @user.name %></h2>
		<div id="userAssignments">
			<%= render :partial => "assignments/user_assignments", :locals => { :user => @user } %>	
		</div>
		<div id="completedAssignments">
			<%= render :partial => "assignments/completed_assignments", :locals => { :user => @user } %>
		</div>	
	</div>

	<div id="userAnnouncements">
		<%= render 'announcements/display_index' %>
	</div>

</div>
	