<div id="city">
	<%= render 'sidebar' %>
</div>
<div id="announcementDisplay">
	<%= render 'announcements/display_index' %>
</div>

<div id="usersList">
	<% if @users.any? %>
	<div id="usersContainer">
		<!-- <div id="userDisplay"></div> -->
		<% @users.each do |user| %>
			<%= render :partial => 'users/box', :locals => { :user => user } %>
		<% end %>		
	</div>
	<% end %>
</div>

<div id="task-modal" class="modal">
	<%= render 'assignments/form' %>
</div>
