<div id="city">
	<%= render 'sidebar' %>
</div>

<div id="announcements">
	<span>Announcements</span>
	<div id="announcementInterior">
		<div id="announcementErrors"></div>
		<%= render 'announcements/form' %>
	</div>
	<!-- <a href="#">Announcements</a> -->
</div>

<div id="usersList">
	<% if @users.any? %>
	<div id="usersContainer">
		<!-- <div id="userDisplay"></div> -->
		<% @users.each do |user| %>
			<%= render :partial => 'users/box', :locals => { :user => user } %>
		<% end %>		
	</div>
	<% end %>
</div>
<!-- <div id="user-modal" class="modal"></div> -->
<div id="task-modal" class="modal">
	<%= render 'assignments/form' %>
</div>
<!-- <div id="task-display"></div> -->