<div id="city">
	<%= render 'sidebar' %>
</div>

<div id="usersList">
	<% if @users.any? %>
	<div id="usersContainer">
		<% @users.each do |user| %>
			<%= render :partial => 'users/box', :locals => { :user => user } %>
		<% end %>		
	</div>
	<% end %>
</div>
<div id="dialog-form"></div>