<div class="resourceColumn">
	<% if @projects.any? %>
		<ul>
			<% @projects.each do |project| %>
			<li>
				<%= project.name %>
				|
				<%= link_to "edit", edit_project_path(project) %>
				|
				<%= link_to "delete", project_path(project), :method => :delete, :confirm => "Are you sure you want to delete this project?" %>
			</li>
			<% end %>
		</ul>
	<% else %>
		<p><%= "No projects yet." %></p>
	<% end %>
</div>
	