<div class="resourceColumn">
	<% if @projects.any? %>
		<ul>
			<% @projects.each do |project| %>
			<li>
				<%= project.name %>
				<%= render "shared/resource_links", :resource => project %>
			</li>
			<% end %>
		</ul>
	<% else %>
		<p><%= "No projects yet." %></p>
	<% end %>
</div>
	