<div class="resourceList">
	<h2>Projects</h2>
	<div id="projectList">
		<%= render "form_and_index"  %>
	</div>
</div>

<div class="resourceList" >
	<h2>Tasks</h2>
	<div id="taskList">
		<%= render "tasks/form_and_index" %>
	</div>
</div>

<div class="resourceList">
	<h2>Task Groups</h2>
	<div id="taskGroupList">
		<%= render "task_groups/form_and_index" %>
	</div>
		
</div>