<div class="resourceList">
	<h2>Projects</h2>
	<div id="projectList">
		<span class="formDisplayLink">Create new project</span>
		<%= render 'form' %>	
		<%= render 'index' %>
	</div>
</div>

<div class="resourceList" >
	<h2>Tasks</h2>
	<div id="taskList">
		<%= render "tasks/form_and_index" %>
	</div>
</div>

<div class="resourceList">
	<h2>Task Groups</h2>
	<div id="taskGroupList">
		<%= render "task_groups/form_and_index" %>
	</div>
		
</div>