$primary-font: "Quicksand";
$secondary-font: "Pontano Sans";
/*$secondary-font: "Sintony";*/

/*$tertiary-font: "Karla";*/
@mixin flash {
	position: absolute;
	top: 0;
	left: 25%;
	width: 50%;
	margin: .5% auto;
	padding: .5%;
	font-family: $secondary-font;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	/*background-color: $color;*/
}

@mixin resourceBorder {
	border: 3px solid #999;
	margin: 2% 0 3% 2%;
	float: left;
	overflow: auto;
	padding: 1%;
	border-radius: 5px;
	h2 {
		margin-top: 0;
	}
}


.navbar {
	margin: 15px 30px 0 0;
	display: inline-block;
}

body {
	margin: 0;
	background: image-url('mooning.png') top left fixed; 
	/*background: image-url('detroit1.jpg') no-repeat top left fixed; */
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

div {
	font-family: $secondary-font, sans-serif;
}

li {
	font-family: $secondary-font, sans-serif;
	list-style: none;
}

.brand {
	display: inline-block;
	font-size: 1.6em;
	margin: .5% 0 0 2%;
	font-family: $primary-font, sans-serif;
	/*color: darken($backgroundColor, 30%);*/
}

nav {
	position: relative;
	z-index: 100;
	width: 100%;
	height: 50px;
	/*background-color: #aaa;*/
	/*background: image-url('yellowtrans.png');*/
	/*background-color: rgba(0, 128, 255, .2);*/
	opacity: .8;
	border-bottom: 5px #333 solid;
	a:hover {
		/*color: #fff;*/
	}
}

.pull-right {
	float: right;
}

.pullLeft {
	float: left;
	margin-top: .5%;
}

.right {
	float: right;
	margin-top: -2%;
}

a {
	font-family: $secondary-font, sans-serif;
	font-size: 1em;
	text-decoration: none;
	color: #444;
	/*color: darken($backgroundColor, 30%);*/
	&:hover {
	color: #eee;
	}
}

.inline {
	display: inline-block;
}

.dropdown {
	height: 40px;
	/*margin: 3% 0;*/
}
.dropdownMenu{
	margin-top: 0;
	position: relative;
	z-index: 100;
	display: none;
	width: 10%;
	position: absolute;
	right: 0;
	padding: 1%;
	border: 5px solid #444;
	background-color: #ccc;
	list-style: none;
	text-align: right;
	li {
		margin: 3% 0;
	}

	.dropdown-divider {
		border-top: solid 1px #E5E5E5;
		margin: 5px 0;
	}
}

#project {
	border-radius: 5px;
	color: #fff;
	width: 20%;
	float: left;
	background-color: #eee;
	margin: 2% 0 3% 2%;
	padding-bottom: 1%;
	.projectName {
		margin: 5%;
		text-align: center;
		/*background-color: #519a69;*/
		&:hover {
			cursor: hand; cursor: pointer;
		}
		a {
			color: #fff;
			font-size: 1.5em;
		}
		.dropdownMenu {
			margin: 0;
			padding: 0;
			text-align: left;
			a {
				font-size: 1em;

			}
		}
		li {
			margin: 0;
			padding: 3%;
		}
	}
	.taskBox {
		a {
			color: #999;
			&:hover {
				color: #555;
			}
		}
		color: #000;
		margin: 1.5% 5%;
		border-radius: 5px;
		border: 2px #bbb solid;
		/*background-color: #ccc;*/
		text-align: left;
		padding: 1%;
		.taskProgress {
			border: solid 2px #eee;
			border-radius: 3px;
			margin-bottom: 3%;
			color: #000;
			font-size: .7em;
			/*width: 85%;*/
			height: 20px;
			background-color: #e66;
			.completeTasks {
				position: relative;
				border-right: solid 2px #eee;
				border-radius: 3px;
				text-align: left;
				background-color: #5b5;
				width: 100%;
				height: 20px;
				.progressText {
					color: #fff;
					font-size: 1.2em;
					position: absolute;
					left: 5px;
					top: 2px;
				}
			}
/*			.incompleteTasks {
				background-color: red;
			}*/
		}
		.taskBoxName {
			&:hover {
				cursor: hand; cursor: pointer;
			}
		}
		.taskAssignments {
			opacity: .7;
			display: none;
			background-color: #eee;
			border-radius: 5px;
			padding: 2%;
			text-align: left;
			li {
				margin: 0 -10% ;
			}
		}
	}
}

.comment {
	width: 95%;
	background-color: #eeeeee;
	border-radius: 5px;
	margin: 3%;
	padding: 2%;
}

#announcements {
	border-radius: 5px;
	/*float: left;*/
	width: 85%;
	/*background-color: #ccc;*/
	margin: 1% 1% 1% 2.5%;
	padding: .5%;
	/*text-align: right;*/
	color: #fff;
	span {
		cursor: pointer; cursor: hand;
	}

	#announcementInterior {
		/*height: 200px;*/
		color: #000;
		text-align: left;
		display: none;
		border: 4px solid #999;
		background-color: #ddd;
		border-radius: 5px;
		padding: 4% 2% 2% 6%;
		margin-top: 2%;
/*		textarea {
			height: 75px;
			width: 85%;
			margin-top: 3%;
			border: solid 4px #999;
		}
		input {
			border: solid 4px #999;
		}
		input[type="submit"] {
			margin: 3% 0;
			padding: 1%;
			font-size: .9em;
			border-radius: 15px;
			outline: none;
			border: none;
			color: #fff;
			background-color: #777;
			&:hover {
				background-color: #bbb;
				cursor: pointer; cursor: hand;
			}
			margin-left: 25%;
		}*/
		.announcementFields label {
			margin-right: 3%;
		}

	}
}

.announcementIndex {
	@include resourceBorder;
	width: 70%;
}

#editAnnouncementList {
	margin: 2% 4%;
	width: 90%;
	.editAnnouncement {
		background-color: #ddd;
		span {
			margin: 0 3%;
		} 
		border-radius: 5px;
		border: 3px solid #777;
		margin: 1%;
		div {
			margin: 2%;
		}
	}
}

#userAnnouncements {

	width: 75%;
	float: left;

	.deleteButton {
		float: right;
		&:hover {
			color: #999;
			cursor: pointer; cursor: hand;
		}
	}
	.eachAnnouncement {
		border-radius: 5px;
		background-color: #fff;
		padding: 1%;
		margin: 1%;
		#userTag {
			margin: 0 1% 0 3%;
		}

	}
}

#announcementDisplay {
	width: 70%;
	float: right;
	margin-right: 6%;

	.deleteButton {
		float: right;
		&:hover {
			color: #999;
			cursor: pointer; cursor: hand;
		}
	}
	.eachAnnouncement {
		border-radius: 5px;
		background-color: #fff;
		padding: 1%;
		margin: 1%;
		#userTag {
			margin: 0 1% 0 3%;
		}

	}	
}

#usersList {
	width: 78%;
	float: left;
	#userDisplay {
		border-radius: 3px;
		border: 3px solid #aaa;
		display: none;
		background: #ccc;
		width: 94%;
		padding: 2%;
		margin: 1%;
		float: left;
	}
}

.userHeadline {
	text-align: right;
	width: 98%;
	float: right;
	span {
		margin-right: 3%;
	}
}

.assignmentManager {
	text-align: center;
	width: 41%;
	a {
		margin: 0 10%;
	}
	font-size: 1.2em;
}

.userLink {
	font-size: 1.6em;
}

#usersContainer {
	width: 83%;
	background-color: #ddd;
	overflow: auto;
	margin: 3% 2% 3% 4%;
	padding: 2%;
	border-radius: 5px;
	border: solid 4px #999;
}

.userBox {
	border-radius: 5px;
	border-width: 5px;
	border-style: solid;
	font-size: .9em;
	line-height: 1em;
	color: #000;
	text-align: center;
	width: 150px;
	height: 200px;
	float: left;
	margin: 2%;
	background-color: #eee;
	/*padding: 1%;*/
	&:hover {
		cursor: hand; cursor: pointer;
	}
	.assignments {
		/*background-color: #f77;*/
		width: 100%;
		margin-top: 10%;
		padding: 10% 0;
		p {
			margin: 0;
			line-height: 1.5em;
		}
	}

	.projectStripe {
		font-size: 1em;
		margin: 0;
		padding: 2%;
		p {
			margin: 0 0 5% 0;
		}
	}


	.userName {
		font-size: 1.2em;
		line-height: 1.2em;
	}

}

#error_explanation {
	width: 75%;
	display: none;
	background-color: #bc5656;
	padding: 2% 2% 2% 6%;
	border-radius: 5px;
	color: #fff;
	margin: 2% 0 3% 0;
	h4 {
		color: #ddd;
	}
	.close {
		float: right;
		font-size: 2em;
		margin-top: -2%;
	}
	a {
		color: #ccc;
		&:hover {
			color: #fff;
			cursor: hand; cursor: pointer;
		}
	}
}

#userTaskBar {
	float: left;
	h2 {
		margin: 0;
	}
	width: 20%;
	margin: 1%;
	border-radius: 5px;
	padding: 1%;
	background-color: #eee;

	#currentTask {
		background-color: #ccc;
		padding: .5% 1% .5% 3%;
		margin-top: 2%;
		border: solid 5px #fff;
		li {
			margin-left: -10%;
		}

		#statusLink {
			margin-top: 5%;
			margin-left: 10%;
		}
/*		.button_to {
			display: inline-block;
		}*/

/*		input[type="submit"] {
			width: 25%;
			margin: 3% 0;
			padding: 2%;
			font-size: .9em;
			border-radius: 15px;
			outline: none;
			border: none;
			color: #fff;
			background-color: #999;
			&:hover {
				background-color: #aaa;
				cursor: pointer; cursor: hand;
			}
		}*/


	}

	#completedAssignments {
		margin-top: 15%;	
	}

	a {
		color: #999;
		&:hover {
			color: #555;
		}
	}
	
}

form {
	input[type="submit"] {
		/*width: 25%;*/
		margin: 4% 0;
		padding: 2%;
		font-size: .9em;
		border-radius: 15px;
		outline: none;
		border: none;
		color: #fff;
		background-color: #999;
		&:hover {
			background-color: #aaa;
			cursor: pointer; cursor: hand;
		}
	}
	textarea {
		height: 75px;
		width: 85%;
		margin-top: 3%;
		border: solid 4px #999;
	}
	input {
		border: solid 4px #999;
		margin: 2% 0 ;
	}


}

#userPage {
	width: 100%;
}

#devise {
	margin-top: 5%;
	margin-left: 5%;
	width: 25%;
	background-color: #eee;
	padding: 3%;
	border-radius: 5px;
	border: solid 3px #999;
	a {
		&:hover {
			color: #bbb;
		}
	}
}	

.ui-state-hover {
	opacity: .5;
}

.available {
	background-color: lightgreen;
}

.occupied {
	/*background-color: red;*/
	/*color: #fff;*/
}

.absent {
	opacity: .3;
}

.unselected {
	opacity: .3;
}

.assignmentShow {
	margin: 2% 0;
	border: solid 3px #eee;
	padding: .5%;
	background-color: #aaa;
	a {
		padding: 2%;
	}
}

.assignmentDetails {
	margin-top: 1%;
	display: none;
	li {
		margin-left: -6%;
	}
}

.currentAssignment {
	width: 40%;
	float: left;
}

.assignmentStatus {
	color: #fff;
	margin-right: 3%;
}

.queuedAssignments {
	width: 50%;
	float: left;
	margin-left: 2%;
}



/*----- datepicker -----*/
.ui-datepicker {
	display: none;
	background-color: #fff;
	padding: 10px;
	/*border: 8px darken($backgroundColor, 10%) solid;*/
	font-family: $secondary-font;
	a:hover {
		color: #aaa;
	}
	.ui-corner-all {
		margin-right: 10px;
		cursor: hand; cursor: pointer;
	}
}

/*------ flash -----*/
#alerts {
	@include flash;
	display:none;
	background-color: #0b0;
}

#flash_alert {
	@include flash;
	background-color: #bc5656;
}

#flash_error {
	@include flash;
	background-color: #f00;
}

#flash_notice {
	@include flash;
	background-color: #0b0;
}

.resourceList {
	@include resourceBorder;
	width: 28%;
}

.resourceColumn {

	padding: 4%;
	background-color: #eee;
	margin: 2%;
	a {
		&:hover {
			color: #fff;
		}
	}
	ul {
		margin-left: -7%;
		li {
			margin: 2% 0;
		}
	}
}

.resourceEdit {
	@include resourceBorder;
	width: 40%;
}

.resourceForm {
	width: 50%;
}

.dropdownProject {
	&:hover {
		opacity: .5;
	}
}

/*.hiddenForm {
	display: none;
}*/

